.Projects{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2.5rem;
}
@media screen and (max-width: 1080px){
  .Projects{
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 2rem;
}
}
.project{
  background-color:#161925;
  width: 100%;
  padding: 1rem;
  overflow: hidden;
}
.project-content{
  overflow: hidden;
  padding-bottom: 2rem;
}
.project-content img{
  width: 100%;
  transition: all .2s ease-in-out;
}
.project-content img:hover{
  transform: scale(1.1);
  /* width: 20rem; */
}
.project-content a{
  padding-top: 2rem;
}
          
.project-link{
  color: inherit;
  font-family: inherit;
  text-decoration: none;
  font-size: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  transition: all .4s ease-in-out;
}
.project-link:hover{
  color: #037FFF;
}
.p-title{
  margin-bottom: 4rem;
}